<!DOCTYPE html>
<html lang="nb">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Forside</title>
        <link rel="stylesheet" href="/style/style.css" />
    </head>
    <body>
        <header>
            <div class="logo"></div>
            <nav>
                <h1>Kåre AS</h1>
                <h4></h4>
                <a href="/login">Logge inn</a>
                <a href="/ny-bruker">Ny bruker</a>
            
            </nav>
        </header>
        <main>
            
            <h2>Meld deg på på et kurs i dag</h2>
                <p>Q:hvordan melde på på kurs?</p>
                <p>A:lag en bruker og logg inn så er du automatisk på kurs oversikt</p>
                <p>Q:hvordan slette bruker?</p>
                <p>A: du kan trykke på denne knappen</p> <button id="slett-bruker-knapp">Slett Min Bruker</button>
        </main>
        <footer>&copy; 2025 Nexatech</footer>
    </body>
</html>
