<!DOCTYPE html>
<html lang="nb">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Forside</title>
        <link rel="stylesheet" href="/style/style.css" />
    </head>
    <body>
        <header>
            <h1>Kursoversikt</h1>   
            <div class="logo"></div>
        </header>
        <main>
<h1>‎ </h1>
            <a href="/kurs1">hvordan spille hearts of iron 4</a>
            <a href="/kurs2">boomer IT hjelp</a>
            <a href="/kurs3">how i became a millionare at -1 years old</a>
            
          
            <script>
                // Legger til en event listener for sletting
                document.getElementById("slett-bruker-knapp").addEventListener("click", () => {
                    if (confirm("Er du sikker på at du vil slette brukeren din?")) {
                        fetch("/api/slett-bruker", {
                            method: "DELETE",
                        })
                            .then((response) => {
                                if (response.ok) {
                                    alert("Brukeren din er slettet.");
                                    window.location.href = "/login"; // Omadresserer til innloggingssiden
                                } else {
                                    alert("En feil oppstod under sletting av brukeren.");
                                }
                            })
                            .catch((error) => {
                                console.error("Feil ved sletting av bruker:", error);
                            });
                    }
                });
            </script>
        </main>
        <footer>&copy; 2025 Nexatech</footer>
       
    </body>
</html>
