<!DOCTYPE html>
<html lang="nb">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Forside</title>
        <link rel="stylesheet" href="/style/style.css" />
    </head>
    <body>
        <header>
            <div class="logo"></div>
          
        </header>
        <main>
            <h1>overskrift</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nesciunt temporibus necessitatibus ratione harum possimus nisi doloremque reprehenderit in illum omnis velit id, iusto magnam perspiciatis quidem voluptas? Earum, tenetur.
           
            <form action="/meldpaa" method="post">
           <input type="hidden"value="1"name="kurs">
                <button type="submit">meld på</button>
            
        </form>
        
        </main>
        <footer>&copy; 2025 Nexatech</footer>
    </body>
</html>
